h1 
{
	text-align: center;
	color: rgb(250, 40, 60);
	background-color: rgba(250, 40, 60, 0.2);
	font-family: "Space Mono", Georgia, Times New Roman;
}

#big_title 
{
	color: white;
	background-color: rgb(250, 40, 60);
}

h2 
{
	text-align: left;
	color: rgb(250, 40, 60);
	font-family: "Space Mono", Georgia, Times New Roman;
 }
p {
	font-family: "Muli", Verdana, Times New Roman;
  }
